@page
@using Microsoft.Extensions.Localization
@using DKW.Mcp.Localization
@using DKW.Mcp.Web.Pages.Mcp
@model DKW.Mcp.Web.Pages.Mcp.IndexModel
@inject IStringLocalizer<McpResource> L

@{
}
<h1>Mcp</h1>
<p>@L["SamplePageMessage"]</p>
